﻿* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 14px;
    background-color: 84ccfb;
}

body, input, textarea, select {
    /*font-family:'Courier New';*/
    /*font-size: medium;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    font-size: inherit;

}

#wrapper {
    padding: 40px;
}

#searchPanel {
    position: fixed;
    padding: 7px;
    top: 2px;
    left: 2px;
    /*right: 0; or width: 100%*/
    right: 2px;

    height: 40px;
    z-index:0;
    z-index: 9999;
    margin-right: auto;
    margin-left: auto;
    background-color: #eee8e8; 
    border-radius: 3px 4px;
}


.movie-list {

}


/* Movie */
    .movie {
       margin-bottom: 20px;
       padding-bottom: 20px;
       border-bottom: 1px solid #095079;
    }

    .movie:last-child {
       border-bottom: none;
    }

    .movie:after {
        content: '';
        display: block;
        clear: both;
    }

    .movie .picture {
        float: left;
        margin-right: 40px;
        width: 300px;
    }
        .movie .picture img {
            width: 100%;
        }

    .movie .description {
        overflow: hidden;
    }
       /* .movie .description table {
            font-size: 1rem;
        } */
    
        .movie .description table tr th {
            text-align: left;
        } 

        .movie .description table tr td {
            padding: 5px;
        }

        .movie .description table tr td:first-child {
            vertical-align: top;
            font-weight: bold;
        }

        .movie .description table tr td.plot {
            font-weight: normal;
        }

.fullname {
    font-size: 1.5em;
}

    
@media (max-width: 800px) {
    .movie .picture {
        float: none;
        width: auto;
    }
    body{
        font-size: 12px;
    }
}

@media (max-width: 424px) {
    #searchPanel{
        height: 65px;
    }
    }

