﻿<!doctype html>
<html ng-app="imdb">
<head>
    
    <meta charset="utf-8">
    <title>Movie info searcher</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Site.css">

</head>
<body>
    <div id="wrapper">

        <div ng-controller="dannieController">
            <div id="searchPanel" >           
                <form method="get" target="_blank">
                    
                    <label class="control-label">Type:</label>
                    <select ng-model="search_type">
                        <option value=""></option>
                        <option value="movie">movie</option>
                        <option value="series">series</option>
                        <option value="episode">episode</option>
                    </select>

                    <label class="control-label">Sort by:</label>
                    <select ng-model="sort_type">
                        <option value="Title">Title</option>
                        <option value="Year">Year</option>
                    </select>

                    <input name="q" id="form-query" value="" placeholder="Enter movie name" ng-model="movie_name"> 

                    <button ng-click="movieDannie()">Search</button>
                </form>
            </div>

            <div class="movie-list">

                <div class="movie" ng-repeat="product in details | orderBy:sort_type">
                    <div class="picture">
                        <img src="{{product.Poster}}">
                    </div>

                    <div class="description">
                        <table>
                            <tr>
                                <th colspan="2">{{product.Title}} ({{product.Year}})</th>
                            </tr>
                            <tr>
                                <td>Genre: </td>
                                <td>{{product.Genre}}</td>
                            </tr>
                            <tr>
                                <td>Type: </td>
                                <td>{{product.Type}} ({{product.Runtime}})</td>
                            </tr>
                            <tr>
                                <td>Production: </td>
                                <td>{{product.Production}}</td>
                            </tr>
                            <tr>
                                <td>Director: </td>
                                <td>{{product.Director}}</td>
                            </tr>
                            <tr>
                                <td>Writer: </td>
                                <td>{{product.Writer}}</td>
                            </tr>
                            <tr>
                                <td>Actors: </td>
                                <td>{{product.Actors}}</td>
                            </tr>
                            <tr>
                                <td>IMDB rating: </td>
                                <td>{{product.imdbRating}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="plot">
                                    {{product.Plot}}
                                </td>
                            </tr>
                       </table>     
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/App.js"></script>
</body>
</html>


